# hidden folders & junk files
.*/
.*
*.iml

# Log files
logs/
*.log

# Dependencies
node_modules/
*.lock
*-lock.yaml
*-lock.json

# Compiled files
dist/
bin/

# Keep
!.git*
!.secrets/
!.secrets/**
!.changeset/
!.eslintignore
!.eslintrc.json
!.depcheckrc
!.templates
!.templates/**
!.husky
